
.section_nav {
    position: fixed;
    bottom:0;
    width: 100%;
    padding:20px 0;
    background-color: #fcfcfc;
}

.section_nav .group_navs {
    display: flex;
    justify-content: space-around;
}

.section_nav .group_navs i {
    font-size: 20pt;
    cursor: pointer;
}