@import "./reset.css";
@import "./status.css";
@import "./header.css";
@import "./chatting.css";
@import "./nav.css";

body {
    width:500px;
}

a,
a:link,
a:visited
{
    text-decoration: none;
    color: black;
}